/* :not(.visible).dropdown {
  display: none;
} */

html {
  overflow-x: hidden;
}

body {
  height: 100vh;
  background-color: #f0a202;
  padding: 0;
  margin: 0;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* .dropdown-button {
  width: 30px;
  height: 30px;

  position: absolute;
} */

/* .dropdown-list {
  height: min-content;
  position: relative;
  top: 30px;
  border: 1px solid black;
  margin: 0;
  list-style: none;
  padding: 10px;
  text-align: left;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 0;
} */

/* .dropdown-item {
  height: min-content;
} */

/* .right {
  transform-origin: top right;
  transform: translate(-100%);
} */

/* .menu-icon {
  pointer-events: none;
  position: absolute;
  width: 30px;
  height: 30px;
} */

/* .dropdown-component {
  display: flex;
  width: 30px;
  height: 30px;
} */

header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-color: #f18805;
  margin: 0;
  padding: 0;
}

/* .dropdown-button {
  border: 0;
  background-color: inherit;
} */
